.cellStyle {
    width: 100px;
    text-align: center;
    padding: 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
  }

.firstColumnStyle {
    width: 50px;
    height: 40px;
}

.rightAlignCell {
  text-align: right !important;
}

  
  .stickyCell {
    position: sticky;
    left: 0;
    z-index: 1;
  }
  
  table {
    table-layout: fixed;
  }
  
  .visualColors{
    --primary-main: #004F4A;
--primary-light: #65FF9D;
--primary-dark: #002F35;
--primary-contrastText: #fff;
--secondary-main: #02CB6D;
--secondary-light: #4FE8A0;
--secondary-dark: #00984A;
--secondary-contrastText: #000;
--error-main: #f44336;
--background-default: #C2EFD3;
--background-paper: #33A085;
--text-primary: #023825;
--text-secondary: #6A4F4B;

  }